<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evc">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserCardsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.evc.login.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.evc.login.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.evc.EditProfileActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.evc.login.CompanySignupActivity" android:theme="@style/AppTheme.Dark" />

        <activity android:name=".BluetoothScanActivity" android:theme="@style/AppTheme.Dark.Dialog"/>

        <activity android:name=".SendCardActivity" />

        // android:theme="@style/AppTheme.Dark.Dialog"

        <activity android:name="CompanyProfileActivity"/>
        <activity android:name=".CreateCardActivity"/>
        <activity android:name=".CardsActivity"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db"
            />
        <meta-data
            android:name="VERSION"
            android:value="2"
            />
    </application>

</manifest>
